 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Senior full stack .NET developer with many years of working expirience mainly with e-commerce solutions.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        I’ve worked on big projects over the years and some other smaller projects as team member, team lead or independent developer. I am using latest technologies to improve my skills and produce cutting edge applications.
                    </p>
                    <p>
                        I'm usually involved in the entire cycle of development, from the project specifications to the final production-ready code.
                    </p>
                </div>
            </div>
        </div>
    </section>